body{
	text-align: center;
	background: linear-gradient(rgba(26, 188, 156, 0.7), rgba(52, 152, 219,1.0)), url(OZ1NJ58.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
}
h1{
	font-family: Monoton;
	font-size: 70px;
	margin: 0.2em;
}
h2{
	margin: 1em 0 0.25em;
}
h2:first-of-type{
	margin-top: 0.5em;
}
table, tr, td{
	border: 1px solid black;
}
table{
	border-collapse: collapse;
	margin: 0 auto;
}
tr{
	height: 20px;
}
td{
	width: 20px;
}
input[type=number]{
	width: 6em;
}
